@import url("components/header.css");
@import url("components/buttonPrimary.css");
@import url("homepage/userList.css");
@import url("photographer/profileCard.css");
@import url("photographer/mediaList.css");
@import url("photographer/contactModal.css");
@import url("photographer/likeCounter.css");
@import url("photographer/mediaSorter.css");
@import url("photographer/lightbox.css");

* {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: "DM Sans", sans-serif;
    margin: 0;
}