@use "../../utils/mixins";
@use "../../utils/variables";

.button {
    @include mixins.transition;
    font-family: "DM Sans", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    color: white;
    padding: 1rem;
    border: none;
    background-color: variables.$primary;
    border-radius: 5px;

    @include mixins.mobileAndUp {
        font-size: calc(22rem / 16);
    }

    &:hover {
        cursor: pointer;
    }

    &:hover, &:focus {
        color: black;
        background-color: variables.$secondary;
    }
}