@use "../../../../utils/mixins";
@use "../../../../utils/variables";

.photographerDetails {
    @include mixins.flex(column, center, flex-start);
    background-color: variables.$neutral-light;
    min-height: 300px;
    margin: 20px 30px;

    @include mixins.mobileAndUp {
        margin: 20px 60px;
    }

    @include mixins.largeTabletAndUp {
        @include mixins.flex(row-reverse, space-between, center);
        margin: 40px 100px;
        padding: 50px;
    }

    &_caption {
        margin: 30px;

        @include mixins.largeTabletAndUp {
            margin: 0;
        }

        & > p:not(:last-child):not(.photographerDetails_caption_tagline) {
            margin-bottom: 0.7rem;
        }

        & > p:not(:first-child) {
            margin-top: 0.7rem;
        }

        &_name {
            font-size: variables.$heading-small;
            color: variables.$secondary;
            font-weight: normal;

            @include mixins.mobileAndUp {
                font-size: variables.$heading-large;
            }

            @include mixins.largeTabletAndUp {
                font-size: variables.$heading-xlarge;
            }
        }

        &_location {
            font-size: variables.$copy-medium;
            color: variables.$primary;

            @include mixins.mobileAndUp {
                font-size: variables.$copy-xlarge;
            }
        }

        &_tagline {
            font-size: variables.$copy-medium;
            color: variables.$neutral-dark;
            margin-bottom: 1.5rem;

            @include mixins.mobileAndUp {
                font-size: variables.$copy-xlarge;
                margin-bottom: 2rem;
            }
        }
    }

    &_portrait {
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;

        @include mixins.largeMobileAndUp {
            aspect-ratio: 16 / 9;
        }

        @include mixins.largeTabletAndUp {
            width: 300px;
            aspect-ratio: 1 / 1;
            border-radius: 50%;
            margin-left: 30px;
        }
    }
}