@use "../../../../../utils/mixins";
@use "../../../../../utils/variables";

.mediumCard {

    &_thumbnail {
        @include mixins.transition;
        background: none;
        padding: 0;
        border: none;
        display: block;
        position: relative;
        overflow: hidden;
        aspect-ratio: 1 / 1;

        &_medium {
            width: 100%;
            aspect-ratio: 1 / 1;
            object-fit: cover;
        }

        &_alert {
            @include mixins.transition;
            content: "Ouvrir la galerie";
            position: absolute;
            top: 0;
            transform: translateY(-5rem);
            width: 100%;
            text-align: center;
            padding: 1rem 0;
            font-size: 1rem;
            background-color: variables.$secondary;

            @include mixins.largeMobileAndUp {
                font-size: calc(24rem / 16);
            }
        }

        &:hover {
            cursor: pointer;
        }

        &:hover &_alert, &:focus &_alert {
            transform: translateY(0);
        }
    }

    &_caption {
        @include mixins.flex(row, space-between, center);
        font-size: 1rem;
        margin-top: calc(10rem / 16);

        @include mixins.largeMobileAndUp {
            font-size: calc(24rem / 16);
        }

        &_like {
            @include mixins.flex;
            margin-left: 1rem;

            &_button {
                margin-left: 0.5rem;
                border: none;
                background: none;
                padding: 0;
                transition: color 0.3s ease;
                font-size: calc(18rem / 16);

                &--liked {
                    color: variables.$primary;
                }

                &--notLiked {
                    color: variables.$neutral-dark;
                }

                &:hover, &:focus {
                    cursor: pointer;
                    color: variables.$secondary;
                }
            }
        }
    }
}