@use "../../../../utils/mixins";
@use "../../../../utils/variables";

.photographerCard {
    @include mixins.flex(column, flex-start, center);
    @include mixins.resetLink;
    line-height: 1.3;
    margin: 10px 10px 45px;

    &_portrait {
        @include mixins.transition;
        width: 100%;
        aspect-ratio: 1 / 1;
        object-fit: cover;
        border-radius: 50%;
        outline: none;
    }

    &_name {
        font-size: variables.$copy-xlarge;
        font-weight: normal;
        margin-top: calc(20rem / 16);
        line-height: 1.2;
        text-align: center;
        color: variables.$secondary;

        @include mixins.mobileAndUp {
            font-size: variables.$heading-small;
        }
    }

    &_location {
        font-size: variables.$copy-small;
        color: variables.$primary;
        margin-top: calc(7rem / 16);
        text-align: center;

        @include mixins.mobileAndUp {
            font-size: variables.$copy-medium;
        }
    }

    &_tagline {
        font-size: variables.$copy-small;
        margin: calc(4rem / 16) 0;
        text-align: center;

        @include mixins.mobileAndUp {
            font-size: variables.$copy-medium;
        }
    }

    &_rate {
        font-size: variables.$copy-small;
        color: variables.$neutral-dark;

        @include mixins.mobileAndUp {
            font-size: variables.$copy-medium;
        }
    }

    &:hover {
        cursor: pointer;
    }

    &:hover &_portrait, &:focus &_portrait {
        outline: 8px solid #901C1C;
    }
}