@use "../../utils/mixins";
@use "../../utils/variables";

.header {
    @include mixins.flex(row, center, center);
    margin: 45px 100px 45px 100px;

    @include mixins.tabletAndUp {
        justify-content: space-between;
    }

    &_link {
        &_logo {
            width: 100%;
            max-width: 200px;
            min-width: 130px;
        }
    }

    &_title {
        color: variables.$primary;
        font-size: variables.$heading-small;
        display: none;

        @include mixins.tabletAndUp {
            display: block;
        }
    }
}