$primary: #901C1C;
$secondary: #D3573C;
$neutral-dark: #43464B;
$neutral-light: #FAFAFA;

$copy-small: 0.75rem;
$copy-medium: 1rem;
$copy-large: 1.25rem;
$copy-xlarge: 1.5rem;
$heading-small: 2rem;
$heading-medium: 2.5rem;
$heading-large: 3rem;
$heading-xlarge: 4rem;