.userList {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 70px;
    margin: 100px 0px 114px 0px;
}

.userCard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.3;
}

.userCard_link {
    text-decoration: none;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.userCard_picture {
    height: 200px;
    width: 200px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    border-radius: 50%;
    outline: none;
    transition: all 0.3s ease;
}

.userCard_name {
    color: #D3573C;
    font-size: calc(36rem / 16);
    font-weight: normal;
    margin-top: calc(20rem / 16);
    line-height: 1.2;
    text-align: center;
}

.userCard_name:after {
    content: "";
    display: block;
    width: 0%;
    height: 2px;
    background: #D3573C;
    margin: 0px auto;
    transition: all 0.3s ease;
}

.userCard_location {
    font-size: calc(13rem / 16);
    color: #901C1C;
    margin-top: calc(6.5rem / 16);
}

.userCard_tagline {
    font-size: calc(10rem / 16);
    margin: calc(3rem / 16) 0;
}

.userCard_price {
    font-size: calc(9rem / 16);
    color: #757575;
}

.userCard_link:hover .userCard_picture, .userCard_link:focus .userCard_picture {
    outline: 8px solid #901C1C;
}

.userCard_link:hover .userCard_name:after, .userCard_link:focus .userCard_name:after {
    width: 100%;
}