.buttonPrimary {
    font-family: "DM Sans", sans-serif;
    font-size: calc(20rem / 16);
    font-weight: bold;
    color: white;
    padding: calc(11rem / 16);
    height: calc(70rem / 16);
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
}

.buttonPrimary:hover, .buttonPrimary:focus {
    color: black;
    background-color: #D3573C;
}