@use "../../../../utils/mixins";
@use "../../../../utils/variables";

.gallery {
    @include mixins.flex(row, center, center);
    position: relative;
    background: white;
    height: 100vh;
    width: 100vw;
    padding: 30px;

    @include mixins.largeTabletAndUp {
        justify-content: space-between;
        padding: 60px;
    }

    &_nav {
        @include mixins.flex;
        @include mixins.transition;
        margin-top: 1rem;

        @include mixins.largeTabletAndUp {
            margin-top: 0;
        }

        &_button {
            background: none;
            border: none;
            
            &--previous {
                @include mixins.flex(column, flex-start, center);
                margin-right: 1rem;

                @include mixins.mobileAndUp {
                    margin-right: 2rem;
                }
            }

            &--next {
                @include mixins.flex(column, flex-end, center);
                margin-right: 1rem;

                @include mixins.mobileAndUp {
                    margin-right: 2rem;
                }

                @include mixins.largeTabletAndUp {
                    margin-left: 2rem;
                    margin-right: 0;
                }
            }

            &--close {
                @include mixins.flex(column, center, center);

                @include mixins.largeTabletAndUp {
                    position: absolute;
                    top: 60px;
                    right: 60px;
                }
            }

            &_icon {
                font-size: 3rem;
                color: variables.$primary;

                &:hover {
                    cursor: pointer;
                }
            }

            &_text {
                @include mixins.transition;
                opacity: 0;
                font-size: 1rem;
                color: variables.$primary;
                margin-top: 0.5rem;
                transform: translateY(10px);
            }

            &:hover &_text, &:focus &_text {
                opacity: 1;
                transform: translateY(0);
            }
        }
    }

    &_content {
        @include mixins.flex(row, center, center);
        white-space: nowrap;
        overflow: hidden;
        height: 100%;

        &_display {
            @include mixins.flex(column, center, center);
            width: 100%;
            height: 100%;

            &_medium {
                max-height: 85%;
                max-width: 100%;

                @include mixins.largeTabletAndUp {
                    max-height: 90%;
                }

                & > * {
                    max-height: 100%;
                    max-width: 100%;
                }
            }

            &_caption {
                @include mixins.flex(column, center, center);
                margin-top: 1rem;

                @include mixins.largeTabletAndUp {
                    @include mixins.flex(row, space-between, flex-start);
                    margin-top: 2rem;
                }

                @include mixins.largeTabletAndUp {
                    margin-top: 0.5rem;
                }

                &_title {
                    font-size: calc(24rem / 16);
                    color: variables.$primary;
                    margin-top: 0.5rem;
                }
            }
        }
    }
}

@keyframes slideInNext {
    from {
        opacity: 0;
        transform: translateX(10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideOutNext {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(-10px);
    }
}

@keyframes slideInPrevious {
    from {
        opacity: 0;
        transform: translateX(-10px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes slideOutPrevious {
    from {
        opacity: 1;
        transform: translateX(0px);
    }

    to {
        opacity: 0;
        transform: translateX(10px);
    }
}