.likeCounter {
    position: fixed;
    bottom: 0;
    right: 36px;
    background-color: #DB8876;
    border-radius: 5px 5px 0px 0px;
    padding: 20px 35px;
}

.likeCounter_content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(24rem / 16);
}

.likeCounter_likes {
    display: flex;
    align-items: center;
    margin-right: 65px;
}

.likeCounter_icon {
    margin-left: calc(6.5rem / 16);
}