.mediaSorter {
    margin: 60px 100px 0px;
    display: flex;
    align-items: center;
}

#mediaSorter_label {
    font-weight: 700;
    font-size: calc(18rem / 16);
}

.mediaSorter_select {
    margin-left: 20px;
    position: relative;
    width: fit-content;
}

.mediaSorter_button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(18rem / 16);
    width: calc(170rem / 16);
    padding: calc(14rem / 16) calc(20rem / 16);
}

.mediaSorter_button_text {
    margin-right: calc(26rem / 16);
}

.mediaSorter_listbox {
    list-style: none;
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: start;
    background-color: #911C1C;
    color: white;
    font-weight: 700;
    font-size: calc(18rem / 16);
    font-family: "DM Sans", sans-serif;
    width: 100%;
    top: 0;
    left: 0;
    border-radius: 5px;
    margin: 0;
    padding: 0;
    z-index: 2;
}

.mediaSorter_option {
    display: flex;
    cursor: pointer;
    padding: calc(14rem / 16) calc(20rem / 16);
    width: 100%;
    height: calc(70rem / 16);
    position: relative;
}

.mediaSorter_option:first-child {
    border-radius: 5px 5px 0px 0px;
    justify-content: space-between;
    align-items: center;
}

.mediaSorter_option:not(:first-child) {
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.mediaSorter_option:last-child {
    border-radius: 0px 0px 5px 5px;
}

.mediaSorter_option:not(:first-child):before {
    content: "";
    width: calc(100% - (40rem / 16));
    height: 1px;
    background-color: white;
    position: absolute;
    top: 0;
}

.mediaSorter_option:hover, .mediaSorter_option:focus {
    color: black;
    background-color: #D3573C;
}

.mediaSorter_option_icon {
    transform: rotate(180deg);
    margin-left: calc(26rem / 16);
}