.mediaList {
    margin: 60px 100px;
    display: grid;
    grid-gap: 30px 90px;
    grid-template-columns: repeat(3, 1fr);
}

.mediaCard {
    width: 100%;
    aspect-ratio: 3.5 / 3;
    object-fit: cover;
    cursor: pointer;
    transition: all 0.2s ease;
}

.mediaCard:hover, .mediaCard:focus {
    outline: 8px solid #DB8876;
}

.mediaCard_caption {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: calc(24rem / 16);
    margin-top: calc(10rem / 16);
}

.mediaCard_likes {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.mediaCard_likeButton {
    margin-left: 0.5rem;
    border: none;
    background: none;
    padding: 0;
    transition: color 0.3s ease;
    font-size: calc(18.5rem / 16);
    cursor: pointer;
}

.mediaCard_likeButton--notLiked {
    color: #901C1C;
}

.mediaCard_likeButton--notLiked:hover, .mediaCard_likeButton--notLiked:focus {
    color: #DB8876;
}

.mediaCard_likeButton--liked {
    color: #DB8876;
}

.mediaCard_likeButton--liked:hover, .mediaCard_likeButton--liked:focus {
    color: #901C1C;
}