@use "../../utils/mixins";
@use "../../utils/variables";

.error{
    display: flex;
    flex-direction: column;
    min-height: 100vh;

    &_section {
        @include mixins.flex(column, flex-start, center);
        padding: 30px;
        flex-grow: 1;

        @include mixins.tabletAndUp {
            margin-top: 50px;
        }

        &_title {
            font-weight: normal;
            font-size: 6rem;
            text-align: center;
            color: variables.$primary;
            line-height: 1;

            @include mixins.mobileAndUp {
                font-size: 10rem;
            }

            @include mixins.largeMobileAndUp {
                font-size: 13rem;
            }

            @include mixins.tabletAndUp {
                font-size: 18rem;
            }
        }

        &_description {
            font-weight: 300;
            font-size: 1.5rem;
            text-align: center;
            margin: 2rem;

            @include mixins.largeMobileAndUp {
                font-size: 3rem;
            }

            @include mixins.laptopAndUp {
                width: 70%;
            }
        }

        &_button {
            @include mixins.resetLink("white");
            margin-top: 1rem;
        }
    } 
}